# Server Configuration
PORT=3000
NODE_ENV=development
JWT_SECRET=fitzone_super_secret_jwt_key_2026

# Administrator Credentials
ADMIN_EMAIL=admin
ADMIN_PASSWORD=fitzone2026

# Database Configuration (Optional)
# Leave blank to fallback to local JSON database persistence
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/fitzone?retryWrites=true&w=majority
MONGODB_DB=fitzone

# Production Frontend URL (For CORS setup on the Backend)
FRONTEND_URL=https://fitzone-gym.vercel.app
